<div class="tabs">
  <a href="#" class="tab active">Mes vignes</a>
  <a href="#" class="tab">Mes réservations</a>
</div>





<ul class="demandes">
  <% @vines.each do |vine| %>
    <% vine.bookings.each do |booking| %>
      <li class="message">
        <img class="profile-pic" src="images/gab.png" alt="">
        <p class="user_name"> <strong><%=booking.user.first_name.capitalize %> <%=booking.user.last_name.capitalize %></strong> <br> <%=booking.start_at %></p></strong></p>
        <p class="vine_name"><strong><%= vine.name %></strong> : <%= booking.status %> <br> <%= vine.description %> </p>
        <div class="prix">
          <%= simple_form_for(booking) do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: "Accepté" } %>
            <%= f.submit "Accepter", class: "btn btn-primary" %>
          <% end %>
          <%= simple_form_for(booking) do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: "Refusé" } %>
            <%= f.submit "Refuser", class: "btn btn-primary" %>
          <% end %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>





