

<div class="container">
  <h1>Our vines</h1>
  <div class="wrapper-cards">

<% @vines.each do |vine|%>
  <% photo_path = cl_image_path vine.picture, height: 300, width: 400, crop: :fill%>
  <% profile_pic_path = cl_image_path User.last.picture, height: 45, width: 45, crop: :fill%>


  <div class="card">
    <div class="avatar" style="background-image: url('<%= profile_pic_path %>');"></div>
    <div class="card-banner" style="background-image: url('<%= photo_path %>');"></div>
    <ul class="item-description">
      <li id="wine-type"><span id="color"></span> <%= vine.variety %><span id="dot">  ·  </span> <%= vine.location %></li>
      <li id="card-title"> <%= vine.name %></li>
      <li id="price"> <%= vine.price %></li>
    </ul>
  </div>
<% end %>

</div>
</div>
