
<div class="container">
  <%= form_tag(vines_path, :id => "index-search", :method => :get) do %>
    <%= select_tag( :price, options_for_select(Vine.prices, selected: params[:price]))%>
    <%= select_tag( :variety, options_for_select(Vine.varieties, selected: params[:variety]), id: "variety-tag" )%>
  <% end %>


  <h1>Nos vignes</h1>
  <div class="wrapper-cards">

<% @vines.each do |vine|%>
  <% photo_path = cl_image_path vine.picture, height: 300, width: 400, crop: :fill%>
    <div class="card">
      <% if vine.user.picture.present? %>
        <% profile_pic_path = cl_image_path vine.user.picture, height: 45, width: 45, crop: :fill%>
        <div class="avatar" style="background-image: url('<%= profile_pic_path %>');"></div>
      <% end %>
      <% photo_path = cl_image_path vine.picture, height: 300, width: 400, crop: :fill%>
      <div class="card-banner" style="background-image: url('<%= photo_path %>');"></div>
      <ul class="item-description">

        <% if vine.color == "Rouge" %>
        <li id="wine-type"><span id="color-red"></span> <%= vine.variety %><span id="dot">  ·  </span> <%= vine.location %></li>
        <% elsif vine.color == "Blanc" %>
        <li id="wine-type"><span id="color-white"></span> <%= vine.variety %><span id="dot">  ·  </span> <%= vine.location %></li>
        <% else %>
        <li id="wine-type"><span id="color-rose"></span> <%= vine.variety %><span id="dot">  ·  </span> <%= vine.location %></li>
        <% end %>

        <li id="card-title"> <%= vine.name %></li>
        <li id="price"> <%= vine.price %></li>
      </ul>
      <%= link_to "", vine_path(vine), class: "card-link" %>
    </div>
  <% end %>
</div>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>


</div>

