<% if policy(Vine).create? %>
<% end %>


<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url(<%= image_path 'background3.jpg' %>);">
  <div class="container">
    <div class = "formulaire">
      <div class="container">
        <div class="row form_box">
          <div class="form">
            <h1>Create a new vine</h1>
            <%= simple_form_for @vine do |f|%>
              <%= f.input :name %>
              <%= f.input :description %>
              <%= f.input :price %>
              <%= f.input :picture %>
              <%= f.input :picture_cache, as: :hidden %>
              <%= f.input :location %>
              <%= f.input :variety, class: "test" %>
              <%= f.submit "Submit", class: "boutton_de_l_espace" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>









