<h1><%= @vine.name %></h1>
<ul>
  <li><%= @vine.picture %></li>
  <li><%= @vine.location %></li>
  <li><%= @vine.variety %></li>
  <li><%= @vine.description %></li>
  <li><%= @vine.price %></li>
</ul>
